.tools__list {
    display: flex;
    flex-flow: row nowrap;

    font-size: 1.2rem;
}
.tools__item {
    height: 45px;
    padding: 25px 10px 5px;

    background-color: #F1F1F1;

    cursor: pointer;
}
.tools__item_delete {
    background: url('/assets/img/delete.svg') center 5px/15px 15px no-repeat;
}
